<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.todo.MainActivity"
            android:label="TO DO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.todo.ItemsActivity"
            android:parentActivityName="com.todo.MainActivity" />
        <activity
            android:name="com.todo.AddItemActivity"
            android:parentActivityName="com.todo.ItemsActivity" />
        <activity android:name="com.todo.EditItemsActivity"
            android:parentActivityName="com.todo.ItemsActivity" />
    </application>

</manifest>